* {
    box-sizing: border-box;
    vertical-align: top;
}

body {
    background-color: #444;
    margin: 0;
    font-size: 0;
    font-family: "DejaVu Sans", sans-serif;
    transition: background-color 0.2s;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main_row {
    height: 100vh;
    color: #E7DFDD;
}

.main_row .main_row_title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.main_row hr {
    margin: 40px 0;
    border: none;
    border-top: 3px dotted #E7DFDD;
}

#right_row,
#left_row {
    width: 360px;
    position: absolute;
    padding: 50px;
    top: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s left, 0.3s right;
}

#left_row {
    left: 0vw;
}

#left_row:hover {
    left: 0vw;
}

#right_row .user,
#channels .channel {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

#right_row .user {
    opacity: 0.7;
    padding: 10px 0;
}

#right_row .user.trusted {
    color: #FFFFFF;
    font-weight: bold;
    opacity: 1;
}

#right_row .user:before {
    content: '.';
    font-size: 0;
    vertical-align: text-bottom;
    border: 3px solid #FFBB00;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}


#right_row .user.online:before {
    border-color: #00FF44;
}

#right_row .user div {
    display: inline-block;
}

#right_row .user div {
    display: inline-block;
}

.main_row button {
    color: #FFF;
    border-radius: 3px;
    border: none;
    padding: 10px 35px;
    width: 100%;
    margin: 5px 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.1s background-color;
}

.main_row button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.main_row button:focus {
    outline: none;
}

#channels .channel {
    border-left: 5px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    transition: 0.3s border-left-color, 0.3s color;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.6);
}

#channels .channel .new_msg_counter {
    margin-left: 5px;
    color: #FFF;
    cursor: pointer;
}


#channels .channel .new_msg_counter:empty {
    color: rgba(255, 255, 255, 0.4);
}

#channels .channel .new_msg_counter:empty:before {
    content: '(0';
}

#channels .channel .new_msg_counter:before { content: '('; }
#channels .channel .new_msg_counter:after { content: ')'; }

#channels .channel:hover {
    border-left: 5px solid #E7DFDD;
    color: #FFF;
}

#right_row {
    right: 0;
}

#right_row:hover {
    right: 0;
}

#chat  {
    width: calc(100vw - 720px);
    margin: 0 auto;
}

#chat #log {
    padding: 50px;
    height: calc(100vh - 200px);
    overflow-y: auto;
}

#chat #channel_header {
    color: #E7DFDD;
    font-size: 40px;
    margin-bottom: 50px;
}

#chat #log .msg {
    border-left: 10px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px 0;
    color: #E7DFDD;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s opacity;
    margin-left: 20px;
    min-height: 74px;
}

#chat #log .msg.own {
    margin-right: 20px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-left: 10px solid #FFF;
}

#chat #log .msg.trusted {
    border-left: 10px solid rgba(255, 255, 255, 0.7);
}

#chat #log .msg.hidden {
    opacity: 0;
}

#chat #log .msg img {
    float: left;
    margin: 0px 15px 5px 0px;
}

#chat #log .msg .msg_head {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#chat #log .msg .msg_head .username {
    font-weight: bold;
    color: #E7DFDD;
    cursor: pointer;
}

#chat #log .msg .msg_body {
    font-size: 12px;
    word-wrap:break-word;
    line-height: 1.6em;
}

#chat #input {
    height: 200px;
    padding: 50px;
}

#chat #input_loading {
    position: relative;
    margin-top: -200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

#chat #input_loading.hidden {
    display: none;
}

#loading_page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.loading_circle {
    background-image: url("loading.png");
    margin: 0 auto;
    animation:spin 0.6s linear infinite;
    -webkit-animation:spin 0.6s linear infinite;
    -moz-animation:spin 0.6s linear infinite;
}

#chat #input_loading .loading_circle {
    width: 140px;
    height: 140px;
    background-size: 140px;
}


#loading_page .loading_circle {
    width: 400px;
    height: 400px;
    background-size: 400px;

    position: relative;
    top: calc(50% - 200px);
}

#loading_page.hidden {
    display: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#chat #input textarea {
    width: 85%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 14px;
    font-family: "DejaVu Sans", sans-serif;
    transition: 0.1s background-color, 0.1s color;
    line-height: 1.6em;
}

#chat #input textarea:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: #E7DFDD;
}

#chat #input input[type=button] {
    width: 15%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #E7DFDD;
    transition: 0.1s background-color;
}

#chat #input input[type=button]:focus {
    outline: none;
}

#chat #input input[type=button]:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog {
    width: 800px;
    height: 600px;
    padding: 50px;
    box-sizing: padding-box;
    outline: 100vw solid rgba(0, 0, 0, 0.6);
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.8);
    overflow: auto;

    margin: 0;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50);
}

.dialog.hidden {
    display: none;
}

.dialog h1 {
    font-size: 30px;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

table th,
table td {
    padding: 5px 25px 5px 0;
    font-size: 12px;
    height: 40px;
}

table th {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

.dialog button,
.dialog input {
    width: 160px;
    margin: 5px;
}

#swal2-content {
    line-height: 1.8em;
}

@media only screen and (max-width: 1400px) {

    #left_row {
        left: -300px;
    }

    #right_row {
        right: -300px;
    }

    #chat {
        width: calc(100vw - 120px);
    }
}