* {
    box-sizing: border-box;
    vertical-align: top;
}

body {
    background-color: #444;
    margin: 0;
    font-size: 0;
    font-family: "DejaVu Sans", sans-serif;
    transition: background-color 0.2s;
}

.main_row {
    height: 100vh;
    color: #E7DFDD;
}

.main_row .main_row_title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

#users,
#channels {
    width: 20vw;
    position: absolute;
    padding: 30px;
    top: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.7);
}

#channels {
    left: 0;
}

#users .user,
#channels .channel {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

#users button {
    color: #FFF;
    border-radius: 3px;
    border: none;
    padding: 10px 35px;
    margin: 40px 5px -30px 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

#channels .channel {
    border-left: 5px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    transition: 0.3s border-left-color, 0.3s color;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.6);
}

#channels .channel .new_msg_counter {
    margin-left: 5px;
    color: #FFF;
    cursor: pointer;
}


#channels .channel .new_msg_counter:empty {
    color: rgba(255, 255, 255, 0.4);
}

#channels .channel .new_msg_counter:empty:before {
    content: '(0';
}

#channels .channel .new_msg_counter:before { content: '('; }
#channels .channel .new_msg_counter:after { content: ')'; }

#channels .channel:hover {
    border-left: 5px solid #E7DFDD;
    color: #FFF;
}

#users {
    right: 0;
}

#chat  {
    width: 60vw;
    margin: 0 auto;
}

#chat #log {
    padding: 50px;
    height: calc(100vh - 200px);
    overflow-y: auto;
}

#chat #channel_header {
    color: #E7DFDD;
    font-size: 40px;
    margin-bottom: 50px;
}

#chat #log .msg {
    border-left: 10px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px 0;
    color: #E7DFDD;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s opacity;
}

#chat #log .msg.trusted {
    border-left: 10px solid #FFF;
}

#chat #log .msg.hidden {
    opacity: 0;
}

#chat #log .msg .msg_head {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#chat #log .msg .msg_head .username {
    font-weight: bold;
    color: #E7DFDD;
    cursor: pointer;
}

#chat #log .msg .msg_body {
    font-size: 12px;
}

#chat #input {
    height: 200px;
    padding: 50px;
}

#chat #input_loading {
    position: relative;
    margin-top: -200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

#chat #input_loading.hidden {
    display: none;
}

#chat #input_loading #loading_circle {
    width: 140px;
    height: 140px;
    background-image: url("loading.png");
    background-size: 140px;
    margin: 0 auto;

    animation:spin 0.6s linear infinite;
    -webkit-animation:spin 0.6s linear infinite;
    -moz-animation:spin 0.6s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#chat #input textarea {
    width: 85%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 14px;
    font-family: "DejaVu Sans", sans-serif;
    transition: 0.1s background-color, 0.1s color;
    line-height: 1.6em;
}

#chat #input textarea:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: #E7DFDD;
}

#chat #input input[type=button] {
    width: 15%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #E7DFDD;
    transition: 0.1s background-color;
}

#chat #input input[type=button]:focus {
    outline: none;
}

#chat #input input[type=button]:hover {
    background-color: rgba(0, 0, 0, 0.8);
}